<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thomas' Sat Tracker</title>
</head>

<body>
    <div>
        <main>
            <div>
                <h1>Nestio Satellite Tracker</h1>
                <p>Track the orbiting object live or check if were imminent danger!</p>
                <a href="stats">Live Data</a>
                <a href="health">DANGER???</a>
            </div>
</body>

</html>